html {
    background-image: url("./images/weather.png");
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: 25%;
    background-repeat: repeat;
}

body {
    font-family: 'Ibarra Real Nova', serif;
    background-color: rgba(255, 255, 255, 0);   
}

#form-container {
    background-color: rgba(255, 255, 255, 0.74);
    height: auto; 
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    font-size: 16px;
}

.header {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    margin-top: 5px;

}

#header-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    padding-top: 12px;
}

.dashboard {
    margin:2%;
    position: center;
}

#weather-container {
    background-color: rgba(255, 255, 255, 0.74);
    height: 550px; 
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    font-size: 16px;
    
}

.current-weather {
    margin: 0px auto;
    height: 200px; 
    border-radius: 10px;
    border: 1px solid rgb(160, 159, 159);
    padding: 0px;
    font-size: 16px;
}

.day {
    background: rgb(12, 138, 170);
    margin: 0px auto;
    margin-top: 20px;
    height: 225px;
    margin-top: 5px; 
    border-radius: 10px;
    border: 1px solid rgb(160, 159, 159);
    padding: 15px;
    font-size: 16px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 1px rgba(0, 0, 0, 0.19)
}

.day-label {
    margin: 10px 0px 0px 15px;
    }

li {
    list-style-type: none;
}

#icon {
    width: 6%;
    height: auto;
}

#icon2 {
    width: 50%;
    height: auto;
}

.input-group {
   margin-bottom: 20px; 
   
}

.card-body {
    padding: .25rem;
}

.fa-search{
    font-size: 25px;
}

/* Footer */

footer {
	background: rgba(54, 54, 54, 0.7);
	height: 80px;
	display: flex;
	align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.footer-copyright {
	font-size: 13px;
  color: #cccccc;
  padding-top: 0px !important;
  padding-bottom: 6px !important;
  
}

.portLink {
	font-size: 13px;
	color: #cccccc;
}